      <div class="footer">
        <div class="footer-links">
            <a href="https://www.linkedin.com/company/27247537/"><i class="fab fa-linkedin" style="color:#d88415"></i></a>    
            <a href="https://www.facebook.com/landterritoirespaysages/"> <i class="fab fa-facebook" style="color:#d88415"></i></a>    
        </div>
      </div>