<div class="col-md-12">
    <br>
    <h4 class="text-center"> Land est dans la presse ! </h4>
     <br>
</div>
<div class="row text-center">
    <div class="col-md-4">
        <p> Land et Histoire & Patrimoine </p>
          <%# <a href=<iframe width="560" height="315" src="https://www.youtube.com/embed/8TT959niTFE" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe> target="_blank"> 
            <img src="img/actuhistoire.png" style="height: 150px; width: 200px" >
          </a> %>
          <iframe width="260" height="150" src="https://www.youtube.com/embed/8TT959niTFE" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
    <div class="col-md-4">
        <p> Land et La voix du Nord </p>
          <a href="http://www.lavoixdunord.fr/358222/article/2018-04-14/brooklyn-une-tour-de-52-m-de-haut-pour-dire-la-mue-des-grands-moulins"  target="_blank">
            <img src="img/lavoixdunordlandmoulins.png" style="height: 150px; width: 200px"> 
          </a>
    </div>
    <div class="col-md-4">
       <p> Land est l'entreprise du jour sur France Bleu </p>
        <a href="​https://www.francebleu.fr/emissions/l-entreprise-du-jour/nord/l-agence-land-specialisee-en-architecture-paysagere-engrange-les-projets"> <img src="img/podcast_land_francebleu.png"  target="_blank"style="height: 100px; width: 200px"> </a>
    </div>
</div>
<br>
<br>
<div class="row text-center">
    <div class="col-md-6">
        <p> Land-Territoires et paysages​, lauréat du concours pour la rénovation du musée <br> de la Résistance bretonne  </p>
        <a href="​http://www.cyberarchi.com/article/un-musee-de-la-resistance-bretonne-en-projet-30-05-2018-16569​"> <img src="img/saint_marcel_carousel.jpg" style="height: 150px; width: 200px"> </a>
        <p style="font-style:italic"> Télécharger le pdf en cliquant <a href="img/moniteur_land.pdf" download > ici </a> </p>
    </div>
    <div class="col-md-6">
        <p> Cadmée et Land signent le nouveau musée   <br> de la Résistance bretonne</p>
         <a href="​http://www.cyberarchi.com/article/un-musee-de-la-resistance-bretonne-en-projet-30-05-2018-16569​"> <img src="img/saint_marcel_carousel.jpg" style="height:  150px; width: 200px" > </a>
        <p> Télécharger le pdf en cliquant <a href="img/GDA_land.pdf" download > ici </a> </p>
    </div>
</div>

<div class="container marketing">
    <hr class="featurette-divider">
    <div class="row featurette">
        <div class="col-md-12">
            <h2> Découvrez tous les acteurs du projet de réhabilitation du site des Grands-Moulins avec ce film réalisé par Histoire & Patrimoine</h2>
        </div>
    </div>
    <div class="justify-content-md-center">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="center" src="https://www.youtube.com/embed/8TT959niTFE" allowfullscreen width="100%"></iframe>
        </div>
    </div>
    <div class="col-md-12">
        <h2> La mue des Grands-Moulins dans la Voix du Nord</h2>
        <div class="text-center">
           <a href="http://www.lavoixdunord.fr/358222/article/2018-04-14/brooklyn-une-tour-de-52-m-de-haut-pour-dire-la-mue-des-grands-moulins"> <img src="img/lavoixdunordlandmoulins.png" style="img-fluid"> </a>
        </div>
    </div>
    <div class="col-md-12">
        <h2> Land-Territoires et paysages est "L'Entreprise du jour" sur France Bleu​</h2>
    <div class="text-center">
            <a href="​https://www.ouest-france.fr/bretagne/saint-marcel-56140/saint-marcel-un-projet-commun-pour-le-musee-de-la-resistance-5760539"> <img src="img/podcast_land_francebleu.png" style="img-fluid"> </a>
    </div>
    </div>
    <div class="col-md-12">
        <h2> ​Land-Territoires et paysages​, lauréat du concours pour la rénovation du musée de la Résistance bretonne  </h2>
        <div class=text-center>
             <a href="​http://www.cyberarchi.com/article/un-musee-de-la-resistance-bretonne-en-projet-30-05-2018-16569​"> <img src="img/saint_marcel_carousel.jpg" style="height: 250px; width: 900px"> </a>
            <p> Télécharger le pdf en cliquant <a href="img/moniteur_land.pdf" download > ici </a> </p>
    </div>
    <div class="col-md-12">
        <h2> Cadmée et Land signent le nouveau musée de la Résistance bretonne </h2>
        <div class=text-center>
            <a href="​http://www.cyberarchi.com/article/un-musee-de-la-resistance-bretonne-en-projet-30-05-2018-16569​"> <img src="img/saint_marcel_carousel.jpg" style="height: 250px; width: 900px" > </a>
            <p> Télécharger le pdf en cliquant <a href="img/GDA_land.pdf" download > ici </a> </p>
    </div>
    </div>

</div>

