<div class="col-md-12">
    <br>
    <h4 class="text-center"> Land est dans la presse ! </h4>
     <br>

<div class="row text-center">
    <div class="col-md-4">
        <p> Land et Histoire & Patrimoine </p>
          <%# <a href=<iframe width="560" height="315" src="https://www.youtube.com/embed/8TT959niTFE" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe> target="_blank"> 
            <img src="img/actuhistoire.png" style="height: 150px; width: 200px" >
          </a> %>
          <iframe width="260" height="150" src="https://www.youtube.com/embed/8TT959niTFE" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
    <div class="col-md-4">
        <p> Land et La voix du Nord </p>
          <a href="http://www.lavoixdunord.fr/358222/article/2018-04-14/brooklyn-une-tour-de-52-m-de-haut-pour-dire-la-mue-des-grands-moulins"  target="_blank">
            <img src="img/lavoixdunordlandmoulins.png" style="height: 150px; width: 200px"> 
          </a>
    </div>
    <div class="col-md-4">
       <p> Land est l'entreprise du jour sur France Bleu </p>
        <a href="​https://www.francebleu.fr/emissions/l-entreprise-du-jour/nord/l-agence-land-specialisee-en-architecture-paysagere-engrange-les-projets"> <img src="img/podcast_land_francebleu.png"  target="_blank"style="height: 100px; width: 200px"> </a>
    </div>
</div>
<br>
<br>
<div class="row text-center">
    <div class="col-md-6">
        <p> Land-Territoires et paysages​, lauréat du concours pour la rénovation du musée <br> de la Résistance bretonne  </p>
        <a href="​http://www.cyberarchi.com/article/un-musee-de-la-resistance-bretonne-en-projet-30-05-2018-16569​"> <img class="img-fluid"src="https://res.cloudinary.com/dgo5srcxs/image/upload/v1532360009/Land/MUSEE%20DE%20LA%20RESISTANCE%20BRETONNE%20Saint%20Marcel/saint_marcel1.jpg" style="height: 200px"> </a>
        <p style="font-style:italic"> Télécharger le pdf en cliquant <a href="img/moniteur_land.pdf" download > ici </a> </p>
    </div>
    <div class="col-md-6">
        <p> Cadmée et Land signent le nouveau musée   <br> de la Résistance bretonne</p>
         <a href="​http://www.cyberarchi.com/article/un-musee-de-la-resistance-bretonne-en-projet-30-05-2018-16569​"> <img class="img-fluid" src="https://res.cloudinary.com/dgo5srcxs/image/upload/v1532360009/Land/MUSEE%20DE%20LA%20RESISTANCE%20BRETONNE%20Saint%20Marcel/saint_marcel2.jpg" > </a>
        <p> Télécharger le pdf en cliquant <a href="img/GDA_land.pdf" download > ici </a> </p>
    </div>
</div>
</div>