
<div class="row text-center">
    <div class="col-md-12">
    <br>
    <h2 class="featurette-heading" style="margin-bottom:25px"> Land est dans la presse ! </h2>
        <div class="img-fluid" style="margin: 100px 0 100px 0">
            <img src="img/france bleu.png" style="width:150px; margin-right:50px; margin-left:50px" >
            <img src="img/histoireetpatrimoine.png" style="width:150px; margin-right:50px; margin-left:50px">
            <img src="img/lavoixdunord.png" style="width:150px; margin-right:50px; margin-left:50px">
            <img src="img/lemoniteuractu.png" style="width:150px; margin-right:50px; margin-left:50px">
            <img src="img/ouest france.jpg" style="width:150px; margin-right:50px; margin-left:50px">
        </div>
    </div>
</div>

    <div class="row">
        <div class="col-md-4">
            <div class="card" style="width: 18rem; height:23rem">
                <img class="card-img-top" src="img/histoireetpatrimoineactu.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Land et <br> Histoire & Patrimoine</h5>
                    <p class="card-text"> Une vidéo sur les Grands Moulins à Marquette</p>
                    <a href="https://www.youtube.com/embed/8TT959niTFE" target="_blank" class="btn btn-primary" style=" background-color:#d88415;
    border-color:#d88415;color:white">Voir la vidéo</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem; height:23rem">
                <img class="card-img-top" src="img/francebleuactu.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Land et <br> France Bleu</h5>
                        <p class="card-text"> Land est l'entreprise du jour sur France Bleu</p>
                        <a href="https://media.radiofrance-podcast.net/podcast09/16377-04.06.2018-ITEMA_21700926-0.mp3" target="_blank" class="btn btn-primary"style="background-color:#d88415;
    border-color:#d88415;color:white">Ecouter le podcast</a>
                    </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem; height:23rem">
                <img class="card-img-top" src="img/lavoixdunordactu.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">La mue des Grands Moulins de Paris</h5>
                        <p class="card-text"> Un article sur Les Grands Moulins de Paris</p>
                        <a href="http://www.lavoixdunord.fr/358222/article/2018-04-14/brooklyn-une-tour-de-52-m-de-haut-pour-dire-la-mue-des-grands-moulins" target="_blank" class="btn btn-primary"style="background-color:#d88415;
    border-color:#d88415;color:white">Lire l'article</a>
                    </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="card" style="width: 18rem; height:25rem">
                <img class="card-img-top" src="img/moniteur.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Land <br> lauréat du concours </h5>
                        <p class="card-text"> Land lauréat du concours pour la rénovation du musée de la résistance bretonne  <br> Télécharger le pdf en cliquant  <a href="img/moniteur_land.pdf" download > ici </a> </p>
                    <a href="img/moniteur_land.pdf" download target="_blank" class="btn btn-primary"style="background-color:#d88415;
    border-color:#d88415;color:white">Lire l'article</a>
                    </div>
            </div>        
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem; height:25rem">
                <img class="card-img-top" src="img/cyberarchi.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Land et <br> CyberArchi</h5>
                        <p class="card-text"> Cadmée et Land signent le nouveau musée de la Résistance bretonne <br> Télécharger le pdf en cliquant <a href="img/QDA_land.pdf" download > ici </a> </p>
                        <a href="http://www.cyberarchi.com/article/un-musee-de-la-resistance-bretonne-en-projet-30-05-2018-16569" target="_blank" class="btn btn-primary"style="background-color:#d88415;
    border-color:#d88415;color:white">Lire l'article</a>
                    </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem; height:25rem">
                <img class="card-img-top" src="" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Land et <br> Ouest France</h5>
                        <p class="card-text"> Land et Cadmée seront les maîtres d’œuvre de la rénovation du musée de la Résistance bretonne </p>
                        <a href="https://www.ouest-france.fr/bretagne/saint-marcel-56140/saint-marcel-un-projet-commun-pour-le-musee-de-la-resistance-5760539" target="_blank" class="btn btn-primary"style="background-color:#d88415;
    border-color:#d88415;color:white">Lire l'article</a>
                    </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card" style="width: 18rem; height:25rem">
                <img class="card-img-top" src="img/moniteur.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Land <br> et le qda </h5>
                        <p class="card-text">   <br> Télécharger le pdf en cliquant  <a href="img/moniteur_land.pdf" download > ici </a> </p>
                    <a href="img/qda_2018-05_24.pdf" download target="_blank" class="btn btn-primary"style="background-color:#d88415;
    border-color:#d88415;color:white">Lire l'article</a>
                    </div>
            </div>        
        </div>
    </div>
