<div class="container marketing">
    <hr class="featurette-divider">
    <div class="row featurette">
        <div class="col-md-12">
            <h2> Découvrez tous les acteurs du projet de réhabilitation du site des Grands-Moulins avec ce film réalisé par Histoire & Patrimoine</h2>
        </div>
    </div>
    <div class="justify-content-md-center">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="center" src="https://www.youtube.com/embed/8TT959niTFE" allowfullscreen width="100%"></iframe>
        </div>
    </div>

    <div class="col-md-12">
            <h2> La mue des Grands-Moulins dans la Voix du Nord</h2>
    <a href="http://www.lavoixdunord.fr/358222/article/2018-04-14/brooklyn-une-tour-de-52-m-de-haut-pour-dire-la-mue-des-grands-moulins">
    </div>
        <div class="col-md-12">
            <h2> La mue des Grands-Moulins dans la Voix du Nord</h2>
    <a href="http://www.lavoixdunord.fr/358222/article/2018-04-14/brooklyn-une-tour-de-52-m-de-haut-pour-dire-la-mue-des-grands-moulins">
    </div>
</div>

