<div class="container marketing">
    <hr class="featurette-divider">
    <div class="row featurette">
        <div class="col-md-12">
            <h2> Découvrez tous les acteurs du projet de réhabilitation du site avec ce petit film réalisé par Histoire & Patrimoines</h2>
        </div>
    </div>
    <div class="justify-content-md-center">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="center" src="https://www.youtube.com/embed/8TT959niTFE" allowfullscreen width="100%"></iframe>
        </div>
    </div>
</div>

