<div class="container marketing">
    <hr class="featurette-divider">
    <div class="row featurette">
        <div class="col-md-12">
        <div class="text-center">
            <img class="featurette-image img-fluid histoire" src="img/notre_histoire_land.jpg" width="auto" height="450px" margin="0 auto">
        </div>
        </div>
        <div class="col-md-12">
            <h2 class="featurette-heading"> Notre histoire</h2>
            <p style="text-align: justify" class="lead">
                <br> A l’origine de l’Agence Land, il y a Claire Peucelle, une jeune femme pétillante, enthousiaste et volontaire : « Je ne suis jamais aussi heureuse que quand je suis à l’extérieur, sur le site encore nu d’un projet à venir. Je laisse aller mon inspiration et je vois se dessiner comment je vais transformer ce lieu ».
                <br>
                <br>Diplômée de l’École Nationale Supérieure de paysage de Versailles, ses régulières collaborations avec les architectes et les urbanistes lui confèrent une approche globale d’un site pour en aménager harmonieusement les espaces extérieurs. Un seul mot d’ordre : le bien-être de ceux qui vont évoluer dans ces espaces.
                <br>
                <br> Fondée en 2015, l’Agence Land a pour ambition de sublimer la cité et le territoire à travers des projets de tout ordre et de toute taille. « Que ce soit un petit parking ou un grand parc jardin classé au patrimoine, ces lieux sont des lieux publics, des lieux de vie. Leur puissance esthétique influera sur les sentiments de chacun. Nous attachons donc beaucoup d’importance à l’histoire de ces espaces ainsi qu’à l’atmosphère qui doit émaner de ces projets. »
                <br>
                <br> Pour cela, l’agence Land accorde beaucoup de temps à la compréhension d'un projet, à l’identité du site et du maître d’ouvrage : « Tout se met en place en confiance et ce qui ressort du chantier fini, c’est l’identité du projet, orchestré fidèlement par nos soins ».
                <div id="equipe"></div>
                <br> </p>
            <div class="col-md-12">
                <div class="text-center">
                <img class="img-responsive center-block " src="img/teamlandlille.jpg" width="auto" height="450px" margin="0 auto">
                </div>
            </div>
        </div>
    </div>
    <br>

    <div class="row">
        <div class="col-md-12">
            <h2 class="featurette-heading"> Notre équipe</h2>
            <br>
            <h2>  <img class="rounded-circle" src="img/Claire.png" alt="placeholder image" width="228" height="220" > <br> Claire</h2>
            <p style="text-align:center" class="lead"> Fondatrice
                <br> École Nationale d’Architecture et de Paysage de Lille </p>
            <p style="color:#d88415;text-align:center" class="lead"> <i>Toujours être dans la découverte - Entreprendre avec enthousiasme - Dynamiser l’Art des jardins </i>
                <br>
                <br><a class="btn btn-secondary" href="https://www.linkedin.com/in/clairepeucelle/" role="button" style="background-color:#d88415; border-color:#d88415;" target="blank">Voir le CV &raquo;</a></p>
            <br>
            <br>
        </div>
    </div>
    <br>
    <br>
    <br>
    <div class="row">
        <div class="col-xs-6 col-md-6">
            <img class=" rounded-circle  mx-auto d-block " src="img/pierre albert.png" alt="placeholder image" width="140" height="140">
            <h2>Pierre-Albert</h2>
            <p style="text-align:center">Paysagiste DPLG
                <br> École Supérieure de l'Art des Jardins de Lille
                <br>
            </p>
            <p style="color:#d88415; text-align:center"> <i>Mettre en scène le végétal </i></p>
            <div class="text-center">
                <p><a class="btn btn-secondary center-block" href="https://www.linkedin.com/in/pierre-albert-labarri%C3%A8re-25520315b/" role="button" style="background-color:#d88415; border-color:#d88415;" target="blank">Voir le CV &raquo;</a></p>
            </div>
        </div>
        <div class="col-xs-6 col-md-6 center-block">
            <img class="rounded-circle  mx-auto d-block" src="img/marie.png" alt="placeholder image" width="140" height="140">
            <h2>Marie</h2>
            <p style="text-align:center">Paysagiste DPLG
                <br> École Nationale d’Architecture et de Paysage de Lille
                <p style="color:#d88415; text-align:center"> <i>Révéler un lieu par la perception</i></p>
                <div class="text-center">
                    <p><a class="btn btn-secondary center-block" href="https://www.linkedin.com/in/marie-bricout-9782b146/" role="button" style="background-color:#d88415; border-color:#d88415;" target="blank">Voir le CV &raquo;</a></p>
                </div>
        </div>
    </div>
</div>