<div class="container marketing">
    <hr class="featurette-divider">
    <div class="row featurette">
        <div class="col-md-4">
        <div class="text-center">
            <img class="featurette-image img-responsive" src="img/ruededouai_land.jpg" width="280px" height="470px">
        </div>
        </div>
        <div class="col-md-8">
            <h4>Agence de Lille </h4>
            <br>
            <p class="lead" style="text-align:center"> <i class="fab fa-angellist" style="color:#d88415"></i> L'agence Land a installé ses nouveaux locaux au rez-de-chaussée d'une maisonnette lilloise, au 94 rue de Douai, à deux pas de la friche Saint Sauveur dont la réhabilitation est en cours. Notre jolie cour arborée contribue à l'expansion des espaces verts du quartier !
                <br>
                <br>
                <p class="lead" style="text-align:center"> <i class="fa fa-phone" style="color:#d88415"></i> Passez nous un coup de fil au <a href="0359051328"> 03 59 05 13 28 </a>
                    <br>
                    <br>
                    <p class="lead" style="text-align:center"> <i class="far fa-envelope" style="color:#d88415"></i> Envoyez nous un mail à <a href="mailto:contact@agenceland.com"> contact@agenceland.com</a>
                        <br>
                        <br>
                        <p class="lead" style="text-align:center"> <i class="fas fa-laptop" style="color:#d88415"></i> Retrouvez nous sur les réseaux sociaux
                            <br><a href="https://www.linkedin.com/company/27247537/"><i class="fab fa-linkedin" style="color:#d88415"></i></a>
                            <a href="https://www.facebook.com/landterritoirespaysages/"> <i class="fab fa-facebook" style="color:#d88415"></i></a>
                            <br>
                            <br>
                        </p>
        </div>
        <div class="col-md-12">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2531.2702107358214!2d3.0696833160128714!3d50.62209697949943!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c2d5723aa4ef8b%3A0x8bd8504e47c4c881!2sAgence+LAND+territoires+et+paysages!5e0!3m2!1sfr!2sfr!4v1520352497956" width="100%" height="150" frameborder="0"></iframe>
        </div>
        <br>
        <%# <div class="col-md-12 col-xs-12">
            <img class="displayed" src="img/potsland.jpg" width="380" height="280px">
        </div> %>
    </div>
</div>