<div id="myCarousel" class="carousel slide" data-ride="carousel">
   <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
      <li data-target="#myCarousel" data-slide-to="4"></li>
      <li data-target="#myCarousel" data-slide-to="5"></li>
      <li data-target="#myCarousel" data-slide-to="6"></li>
   </ol>
   <div class="carousel-inner">
      <div class="carousel-item active">
         <img class="first-slide img-fluid" src="https://res.cloudinary.com/dgo5srcxs/image/upload/v1532363975/Land/carousel/agence_carousel.jpg" alt="First slide">
         <div class="container">
            <div class="carousel-caption">
               <h1 style="color:#d88415;font-weight: bold">Agence LAND, paysagistes</h1>
               <p><a class="btn btn-lg btn-primary" href="agence.html" role="button" style="background-color:#d88415; border-color:#d88415;">En voir plus</a></p>
            </div>
         </div>
      </div>
      <div class="carousel-item">
         <img class="second-slide img-fluid" src="https://res.cloudinary.com/dgo5srcxs/image/upload/v1532371749/Land/carousel/Armentie%CC%80re_motte_cordonnier.webp" alt="Second slide">
         <div class="container">
            <div class="carousel-caption">
               <h1 style="color:#d88415;   font-weight: bold"> Brasserie Motte Cordonnier </h1>
               <!-- <p style="color:black">Erigé au XVIIème siècle, le Pavillon Sully est l’un des rares vestiges du Château Neuf de Saint-Germain. La maison, qui fut celle du jardinier du Roi, et son parc de 11 000 m2 sont classés monument historique.</p> -->
               <p><a class="btn btn-lg btn-primary" href="#brasserie" role="button" style="background-color:#d88415; border-color:#d88415;">En voir plus</a></p>
            </div>
         </div>
      </div>
      <div class="carousel-item">
         <img class="third-slide img-fluid" src="https://res.cloudinary.com/dgo5srcxs/image/upload/v1532364155/Land/carousel/grand_moulins_paris.webp" alt="Third slide">
         <div class="container">
            <div class="carousel-caption">
               <h1 style="color:#d88415; font-weight: bold">Les Grands-Moulins de paris</h1>
               <p><a class="btn btn-lg btn-primary" href="#Moulins" role="button" style="background-color:#d88415; border-color:#d88415;">En voir plus</a></p>
            </div>
         </div>
      </div>
      <div class="carousel-item">
         <img class="four-slide img-fluid" src="https://res.cloudinary.com/dgo5srcxs/image/upload/v1532363975/Land/carousel/aerodrome_bondues_caroussel.jpg" alt="Four slide">
         <div class="container">
            <div class="carousel-caption">
               <h1 style="color:#d88415; font-weight: bold">L'aérodrome de Bondues</h1>
               <p><a class="btn btn-lg btn-primary" href="#Bondues" role="button" style="background-color:#d88415; border-color:#d88415;">En voir plus</a></p>
            </div>
         </div>
      </div>
      <div class="carousel-item">
         <img class="five-slide img-fluid" src="http://res.cloudinary.com/dgo5srcxs/image/upload/q_26/v1532363975/Land/carousel/saint_marcel_carousel.jpg" alt="Five slide">
         <div class="container">
            <div class="carousel-caption">
               <h1 style="color:#d88415; font-size: 30px; font-weight: bold">Musée de la résistance Bretonne à Saint Marcel</h1>
               <p><a class="btn btn-lg btn-primary" href="#musee" role="button" style="background-color:#d88415; border-color:#d88415;">En voir plus</a></p>
            </div>
         </div>
      </div>
      <div class="carousel-item">
         <img class="six-slide img-fluid" src="https://res.cloudinary.com/dgo5srcxs/image/upload/v1532364022/Land/carousel/Libourne_carousel.jpg" alt="Six slide">
         <div class="container">
            <div class="carousel-caption">
               <h1 style="color:#d88415; font-size: 30px; font-weight: bold">Ancienne caserne Lamarque à Libournes</h1>
               <p><a class="btn btn-lg btn-primary" href="#armes" role="button" style="background-color:#d88415; border-color:#d88415;">En voir plus</a></p>
            </div>
         </div>
      </div>
      <div class="carousel-item">
         <img class="seven-slide img-fluid" src="https://res.cloudinary.com/dgo5srcxs/image/upload/v1532364080/Land/carousel/libournescaroussel2.jpg" alt="Six slide">
         <div class="container">
            <div class="carousel-caption">
               <h1 style="color:#d88415; font-size: 30px; font-weight: bold">Ancienne caserne Lamarque à Libournes</h1>
               <p><a class="btn btn-lg btn-primary" href="#armes" role="button" style="background-color:#d88415; border-color:#d88415;">En voir plus</a></p>
            </div>
         </div>
      </div>
   </div>
   <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
   <span class="carousel-control-prev-icon" aria-hidden="true"></span>
   <span class="sr-only">Précédent</span>
   </a>
   <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
   <span class="carousel-control-next-icon" aria-hidden="true"></span>
   <span class="sr-only">Suivant</span>
   </a>
</div>
<!-- Marketing messaging and featurettes
   ================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->
<div class="container marketing">
   <h2>L'agence LAND</h2>
   <p style="text-align:center"> Nous croyons à la poésie, au bon sens et aux relations de confiance.
      <br> Nous sommes l’agence Land et nous dessinons des projets de paysage simples et frais dans lesquels il fait bon vivre.
   </p>
   <hr class="featurette-divider">
   <div class="row featurette">
      <div class="col-md-7">
         <h2 class="featurette-heading">Notre vision </h2>
         <p class="lead">
           Enchanter les lieux publics avec des alliances végétales harmonieuses </br>
        Sublimer l’identité d’un site et raviver son esthétique pour toujours créer de l’émotion</br>
            <li> Créer des paysages doux à vivre </li>
         </ul>
         L’agence LAND met son savoir et sa technicité au service de VOTRE projet et de son unicité.
         </p>
      </div>
      <div class="col-md-5">
         <img class="featurette-image img-fluid " src="https://res.cloudinary.com/dgo5srcxs/image/upload/v1532361568/Land/land_deco/madamefleurland.jpg">
      </div>
   </div>
   <hr class="featurette-divider">
   <h2 class="featurette-heading">Nos valeurs</h2>
   <div class="row featurette">
      <div class="col-md-7 order-md-2">
         <p class="lead">
         <ul>
         <br>
         <br>
         <li>Une philosophie basée sur l’écoute et tout notre savoir-faire au service de vos souhaits et de vos attentes. Le projet est et restera le vôtre, orchestré par nos soins.
         </li>
         <br>
         <br>
         <br>
         <li> Une réelle imprégnation du lieu, de son histoire et de ses particularités. Nous sommes très attachés à l’émotion première qui se dégage d’un espace. Nous nous en inspirons pour élaborer un projet qui lui restera fidèle.
         </li>
         <br>
         <br>
         </p>
      </div>
      <div class="col-md-5 order-md-1">
         <br>
         <br>
         <img class="featurette-image img-fluid" src="https://res.cloudinary.com/dgo5srcxs/image/upload/v1532361568/Land/land_deco/landvisionclaire.jpg">
      </div>
      <div class="row featurette">
         <div class="col-md-5 order-md-1">
            <br>
            <li> Une approche artisanale et minutieuse : nous réalisons nos croquis et maquettes à la main et nous en sommes très fiers ! C’est la touche vintage d’une équipe jeune et fraîche, menée par une entrepreneure passionnée et investie qui n’a pas peur de se salir les bottes !
            </li>
            <br>
            <br>
            <br>
            <li>Une réflexion écologique et respectueuse de l’environnement:
               <br> - Des végétaux adaptés au climat d’origine.
               <br> - Les arbres et essences existantes "le plus possible" conservés.
               <br> - Un paysage qui évolue avec charme au fil des saisons.
               <br> - Plantes mellifères pour les pollinisateurs, arbres à fruits pour les oiseaux, hôtels à insectes ou bassins à batraciens… rien n’est oublié pour préserver ou favoriser la présence des êtres vivants du site. Sur d’autres projets, nous n’hésitons pas à proposer des espaces potagers partagés.
            </li>
         </div>
         <div class="col-md-7 order-md-2">
            <img class="featurette-image img-fluid" src="https://res.cloudinary.com/dgo5srcxs/image/upload/v1532371969/Land/land_deco/galletsland.jpg" alt="Generic placeholder image" width="auto" height="330px">
         </div>
      </div>
   </div>
   <div id="refs">
      <div class="container marketing">
         <hr class="featurette-divider">
         <h2 class="featurette-heading"> Nos références</h2>
         <br>
         <div class="row featurette">
            <div class="col-md-6">
                <div id="Bondues">
               <h4>Parc de l'aérodrome</h4>
               </div>
               <p style="text-align:center"> Bondues</p>
               <div class="hovereffect">
                  <img class="displayed" src="http://res.cloudinary.com/dgo5srcxs/image/upload/c_scale,h_200/v1532355552/Land/AERODROME%20Bondues/aerodrome_bondues.jpg"></a>
                  <p style="text-align: center">
                     <br>" Le paysage voyageur " 
                  </p>
                  <div class="overlay">
                     <a href="#Bondues" class="info" data-toggle="modal" data-target="#bonduesModal">En voir plus</a>
                  </div>
               </div>
            </div>
            <!-- Bondues modal -->
            <div class="modal fade" id="bonduesModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
               <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                     <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">L'aménagement du parc de l'aérodrome de Bondues</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                     </div>
                     <div class="modal-body">
                        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                           <div class="carousel-inner container" style="height: 150px">
                              <div class="carousel-item active container" style="heigth:150px">
                                 <img class="d-block w-100" src="https://res.cloudinary.com/dgo5srcxs/image/upload/v1532355552/Land/AERODROME%20Bondues/aerodromebondues1.jpg" alt="First slide">
                              </div>
                              <div class="carousel-item">
                                 <img class="d-block w-100" src="https://res.cloudinary.com/dgo5srcxs/image/upload/v1532355558/Land/AERODROME%20Bondues/aerodromebondues2.jpg" alt="Second slide">
                              </div>
                              <div class="carousel-item">
                                 <img class="d-block w-100" src="https://res.cloudinary.com/dgo5srcxs/image/upload/v1532355553/Land/AERODROME%20Bondues/aerodromebondues3.png" alt="Third slide">
                              </div>
                           </div>
                        </div>
                        <p style="font-weight:bolder;color:#d88415"> Le contexte </p>
                        <p style="text-align: justify"> L'aérodrome construit en 1936 pour les besoins de la défense aérienne du Nord de la France est devenu dès la période après-guerre un aérodrome destiné aux loisirs aéronautiques.</p>
                        <p style="font-weight:bolder; color:#d88415">Le défi</p>
                        <p style="text-align: justify">Offrir un parc aménagé pour le public tout en respectant la contrainte d'une végétation rase et peu fournie.</p>
                        <p style="font-weight:bolder; color:#d88415"> Le projet </p>
                        <p style="text-align:justify"> Le choix de Land est de conserver cette vue dégagée sur l'horizon qui accentue un panorama spectaculaire, nouvelle invitation au voyage, à l'exploration. Comme un premier dépaysement avant même de pénétrer dans l'aérodrome, le visiteur sera face à un paysage de steppe sauvage, modelée par les vents, d'où émergeront quelques grands arbres remarquables, posés ça et là. </p>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-md-6">
                <div id="armes">
            </div>    
               <h4> Ancienne caserne Lamarque </h4>
               <p style="text-align:center"> Libournes</p>
               <div class="hovereffect">
                  <img class="displayed" src="http://res.cloudinary.com/dgo5srcxs/image/upload/c_scale,h_200/v1532421873/Land/CASERNE%20LAMARQUE%20Libournes/libournes4.png"> </a>
                    <p style="text-align: center">
                    <br> "Renaissance d’un ancien site militaire grâce aux richesses du territoire"
                  </p>
                  <div class="overlay">        
                     <a href="#armes" class="info" data-toggle="modal" data-target="#libournesModal">En voir plus</a>
                  </div>
               </div>
            </div>
            <!-- Caserne lamarque modal -->
            <div class="modal fade" id="libournesModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
               <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                     <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">Ancienne Caserne Lamarque</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                     </div>
                     <div class="modal-body">
                        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                           <div class="carousel-inner container" style="max-height: 250px">
                              <div class="carousel-item active container" style="max-heigth:250px">
                                 <img class="d-block w-100" src="https://res.cloudinary.com/dgo5srcxs/image/upload/v1532358707/Land/CASERNE%20LAMARQUE%20Libournes/libournes1.jpg" alt="Caserne Lamarque Libournes">
                              </div>
                              <div class="carousel-item">
                                 <img class="d-block w-100" src="https://res.cloudinary.com/dgo5srcxs/image/upload/v1532358610/Land/CASERNE%20LAMARQUE%20Libournes/libournes2.png" alt="Caserne Lamarque Libournes">
                              </div>
                              <div class="carousel-item">
                                 <img class="d-block w-100" src="https://res.cloudinary.com/dgo5srcxs/image/upload/v1532364080/Land/carousel/libournescaroussel2.jpg" alt="Caserne Lamarque Libournes">
                              </div>
                           </div>
                        </div>
                        <h4>Renaissance d’un ancien site militaire grâce aux richesses du territoire</h4>
                        <p style="text-align: justify"> La place d’armes est restaurée afin de retrouver la mise en scène de la perspective Le jardin créé dans la deuxième cour évoque ceux des châteaux du terroir de Saint-Emilion où les vignes, les figuiers et la pierre dorée racontent le paysage.
                           <br> Les bâtiments du XVIIème siècle accueilleront hôtels et bureaux. 
                        </p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <br>
         <div class="row featurette">
            <div class="col-md-6">
            <div id='Moulins'>
               <h4>Esplanade des Grands moulins</h4>
            </div>
               <p style="text-align:center"> Marquette-Lez-lille</p>
               <div class="hovereffect">
                  <a href="Moulins">
                  <img class="displayed" src="http://res.cloudinary.com/dgo5srcxs/image/upload/c_scale,h_200/v1532359166/Land/GRANDS%20MOULINS%20Marquette/moulindem.png"> </a>
                  <p style="text-align: center">
                     <br>" Les trois âges d’or d’un symbole de la métropôle lilloise "
                  </p>
                  <div class="overlay">
                     <a href="Moulins" class="info" data-toggle="modal" data-target="#moulinModal">En voir plus</a>
                  </div>
               </div>
            </div>
            <!-- Moulin modal -->
            <div class="modal fade" id="moulinModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
               <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                     <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel"> Les Grands-moulins de Paris</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                     </div>
                     <div class="modal-body">
                        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                           <div class="carousel-inner container" style="height: 300px">
                              <div class="carousel-item active container" style="heigth:300px">
                                 <img class="d-block w-100" src="https://res.cloudinary.com/dgo5srcxs/image/upload/v1532359165/Land/GRANDS%20MOULINS%20Marquette/grand_moulins1.jpg" alt="First slide">
                              </div>
                              <div class="carousel-item">
                                 <img class="d-block w-100" src="https://res.cloudinary.com/dgo5srcxs/image/upload/v1532359166/Land/GRANDS%20MOULINS%20Marquette/grand_moulins2.jpg" alt="Second slide">
                              </div>
                              <div class="carousel-item">
                                 <img class="d-block w-100" src="https://res.cloudinary.com/dgo5srcxs/image/upload/v1532359166/Land/GRANDS%20MOULINS%20Marquette/grand_moulins3.jpg" alt="Third slide">
                              </div>
                              <div class="carousel-item">
                                 <img class="d-block w-100" src="https://res.cloudinary.com/dgo5srcxs/image/upload/v1532359166/Land/GRANDS%20MOULINS%20Marquette/grand_moulins4.jpg" alt="Third slide">
                              </div>
                           </div>
                        </div>
                        <p style="font-weight:bolder;color:#d88415">Le contexte </p>
                        <p style="text-align: justify">Une des plus belles usines de la métropole lilloise, le « château industriel » est abandonné à la forêt urbaine en 1989… En 2011, les Grands Moulins sont inscrits à l’inventaire des Monuments Historiques protégés et se destinent à devenir un édifice majeur du patrimoine urbain de la Métropole Lilloise du XXIème siècle.</p>
                        <p style="font-weight:bolder; color:#d88415">Le défi</p>
                        <p style="text-align: justify">Faire renaître sa cour en jardin, ressusciter sa prestance et en offrir l’accès aux Lillois.</p>
                        <p style="font-weight:bolder; color:#d88415"> Le projet </p>
                        <p style="text-align:justify">Un retour aux sources pour notre agence, experte en Art jardins de Versailles ! Le blé des silos revient à la terre et transforme la cour en champ de graminées, coquelicots, bleuets, ivraies… qui accueillera jeux d’enfants, petits salons et oeuvres d’art. A l’ombre des colosses de briques, un sous-bois vivant mêle une nouvelle végétation luxuriante et les végétaux pionniers qui se sont approprié l’espace dépeuplé. Ici on joue, on flâne, on déambule en évoquant le passé d’or des Grands Moulins. Au bord de la Deüle, le parc rejoint le grand paysage de la métropole et s’invente un futur. </p>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-md-6">
               <h4>Jardin de l'ancien couvent des Carmes</h4>
               <p style="text-align:center"> Lille</p>
               <div class="hovereffect">
                  <a href="#carmes">
                  <img class="displayed" src="https://res.cloudinary.com/dgo5srcxs/image/upload/v1532359115/Land/COUVENT%20DES%20CARMES%20Lille/les_carmes.png" style="height:200px;"></a>
                  <p style="text-align: center">
                     <br>" Evoquer par un jardin le passage des frères Carmes "
                  </p>
                  <div class="overlay">
                     <a href="#carmes" class="info" data-toggle="modal" data-target="#carmesModal">En voir plus</a>
                  </div>
               </div>
            </div>
            <!-- Les carmes modal -->
            <div class="modal fade" id="carmesModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
               <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                     <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">Jardin de l'ancien couvent des Carmes</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                     </div>
                     <div class="modal-body">
                        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                           <div class="carousel-inner container" style="height: 300px">
                              <div class="carousel-item active container" style="heigth:300px">
                                 <img class="d-block w-100" src="https://res.cloudinary.com/dgo5srcxs/image/upload/v1532359114/Land/COUVENT%20DES%20CARMES%20Lille/carmes.png" alt="First slide">
                              </div>
                              <div class="carousel-item" style="heigth:300px">
                                 <img class="d-block w-100" src="https://res.cloudinary.com/dgo5srcxs/image/upload/v1532359104/Land/COUVENT%20DES%20CARMES%20Lille/carme2.jpg" alt="First slide">
                              </div>
                           </div>
                        </div>
                        <p> Les jardins s’inspirent du mont des Carmes : une montagne à la pierre blanche calcaire où poussent des pins. Les revêtements blancs lumineux et les arbres de type méditerranéen adaptés à nos climats (pins sylvestres et chênes verts) seront la base du dessin des nouveaux jardins. Fidèles à la tradition carmélite, simplicité et sobriété sont les maîtres-mots du dessin.</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <br>
         <div class="row featurette">
            <div class="col-md-6">
               <h4>Coeur de bourg</h4>
               <p style="text-align:center"> Vendeville</p>
               <div class="hovereffect">
                  <a href="#vendeville">
                  <img class="displayed" src="https://res.cloudinary.com/dgo5srcxs/image/upload/v1532358971/Land/COEUR%20DE%20BOURG%20Vendeville/vendeville2.jpg" style="height:200px"> </a>
                  <p style="text-align: center">
                     <br>" Réenchanter le cœur de bourg grâce à une venelle-jardin qui rassemble les Vendevillois "
                  </p>
                  <div class="overlay">
                     <a href="#vendeville" class="info" data-toggle="modal" data-target="#vendevilleModal">En voir plus</a>
                  </div>
               </div>
               <!-- Les vendeville modal -->
               <div class="modal fade" id="vendevilleModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
                  <div class="modal-dialog modal-lg">
                     <div class="modal-content">
                        <div class="modal-header">
                           <h4 class="modal-title" id="myModalLabel"> Coeur de bourg de Vendeville</h4>
                           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                           <span aria-hidden="true">&times;</span>
                           </button>
                        </div>
                        <div class="modal-body">
                           <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                              <div class="carousel-inner container" style="height: 300px">
                                 <div class="carousel-item active container" style="heigth:150px">
                                    <img class="d-block w-100" src="https://res.cloudinary.com/dgo5srcxs/image/upload/v1532358971/Land/COEUR%20DE%20BOURG%20Vendeville/vendeville2.jpg" alt="First slide">
                                 </div>
                                 <div class="carousel-item" style="heigth:150px">
                                    <img class="d-block w-100" src="https://res.cloudinary.com/dgo5srcxs/image/upload/v1532359022/Land/COEUR%20DE%20BOURG%20Vendeville/vendeville1.png" alt="First slide">
                                 </div>
                              </div>
                           </div>
                           <p>Nous ré-enchantons le centre bourg en liant les biais des lignes de l’architecture et celles du paysage. La venelle connecte l'école, la mairie et la bibliothèque. Le temps du parcours, nous plongeons dans l’univers d’un jardin. Les mini-boisements de Viorne créent des seuils dans lesquels les enfants jouent à se cacher. Les parvis ensoleillés sont des espaces de rassemblement et de discussion. On traverse des plantations sauvages de graminées aux textures douces et voluptueuses que l’on a envie de caresser...</p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-md-6">
               <h4>Patio de l'hôtel d'Orléans</h4>
               <p style="text-align:center"> Lille</p>
               <div class="hovereffect">
                  <a href="#orleans">
                  <img class="displayed" src="https://res.cloudinary.com/dgo5srcxs/image/upload/v1532425599/Land/PATIO%20DE%20L%27HOTEL%20D%27ORLEANS/orlean2.jpg" style="height:200px"> </a>
                  <p style="text-align: center">
                     <br>" Un patio autour du nombre d’Or "
                  </p>
                  <div class="overlay">
                     <a href="#orleans" class="info" data-toggle="modal" data-target="#orleansModal">En voir plus</a>
                  </div>
               </div>
               <!-- Orlean modal -->
               <div class="modal fade" id="orleansModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
                  <div class="modal-dialog modal-lg">
                     <div class="modal-content">
                        <div class="modal-header">
                           <h4 class="modal-title" id="myModalLabel"> Patio de l’hôtel d’Orléans</h4>
                           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                           <span aria-hidden="true">&times;</span>
                           </button>
                        </div>
                        <div class="modal-body">
                           <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                              <div class="carousel-inner container" style="height: 300px">
                                 <div class="carousel-item active container" style="heigth:300px">
                                    <img class="d-block w-100" src="https://res.cloudinary.com/dgo5srcxs/image/upload/v1532360212/Land/PATIO%20DE%20L%27HOTEL%20D%27ORLEANS/orleans.png" alt="First slide">
                                 </div>
                                 <div class="carousel-item" style="heigth:150px">
                                    <img class="d-block w-100" src="https://res.cloudinary.com/dgo5srcxs/image/upload/v1532425599/Land/PATIO%20DE%20L%27HOTEL%20D%27ORLEANS/orlean2.jpg" alt="First slide">
                                 </div>
                              </div>
                           </div>
                           <p> L'hôtel d'Orléans est constitué de plusieurs appartements de standing, dans l'enceinte d'un bâtiment historique. Le Patio central accueillera une sculpture créée à partir de la suite de Fibonnaci, suite mathématique qui découle du nombre d'or qui lui-même régie les lois de la nature. Cet arbre métalique est donc au coeur de la forêt d'or. Elle est symbolisée par des arbustes fleuris. Le patio reprend partout le nombre d'or pour affirmer un espace rectiligne, calculé, précis. Une réflexion importante est accordée au mouvement et à la lumière, le choix des pierres bleues et des végétaux est pensé de sorte à créer des jeux de lumière et donner du volume.</p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <br>
         </div>
         <div class="row featurette">
            <div class="col-md-6">
               <h4>Jardin de l'hospice Marguerite de Flandres</h4>
               <p style="text-align:center"> Seclin</p>
               <div class="hovereffect">
                  <a href="#marguerite">
                  <img class="displayed" src="https://res.cloudinary.com/dgo5srcxs/image/upload/v1532359787/Land/JARDIN%20HOSPICE%20MARGUERITE%20Seclin/hospicemarguerite4.jpg" style="height:200px" ></a>
                  <p style="text-align: center">
                     <br>" Le paysage révèle la mémoire des anciens modes de vie du site "
                  </p>
                  <div class="overlay">
                     <a href="#marguerite" class="info" data-toggle="modal" data-target="#margueriteModal">En voir plus</a>
                  </div>
               </div>
               <!-- Marguerite modal -->
               <div class="modal fade" id="margueriteModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
                  <div class="modal-dialog modal-lg">
                     <div class="modal-content">
                        <div class="modal-header">
                           <h4 class="modal-title" id="myModalLabel"> Jardin de l'hospice Marguerite de Flandres</h4>
                           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                           <span aria-hidden="true">&times;</span>
                           </button>
                        </div>
                        <div class="modal-body">
                           <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                              <div class="carousel-inner container" style="height: 300px">
                                 <div class="carousel-item active container" style="heigth:300px">
                                    <img class="d-block w-100" src="https://res.cloudinary.com/dgo5srcxs/image/upload/v1532359787/Land/JARDIN%20HOSPICE%20MARGUERITE%20Seclin/hospicemarguerite4.jpg" alt="First slide">
                                 </div>
                                 <div class="carousel-item" style="heigth:150px">
                                    <img class="d-block w-100" src="https://res.cloudinary.com/dgo5srcxs/image/upload/v1532359856/Land/JARDIN%20HOSPICE%20MARGUERITE%20Seclin/hospicemarguerite1.jpg" alt="First slide">
                                 </div>
                                 <div class="carousel-item" style="heigth:150px">
                                    <img class="d-block w-100" src="https://res.cloudinary.com/dgo5srcxs/image/upload/v1532359787/Land/JARDIN%20HOSPICE%20MARGUERITE%20Seclin/hospicemarguerite2.jpg" alt="First slide">
                                 </div>
                                 <div class="carousel-item" style="heigth:150px">
                                    <img class="d-block w-100" src="https://res.cloudinary.com/dgo5srcxs/image/upload/v1532359788/Land/JARDIN%20HOSPICE%20MARGUERITE%20Seclin/hospicemarguerite3.jpg" alt="First slide">
                                </div>
                                <div class="carousel-item" style="heigth:150px">
                                    <img class="d-block w-100" src="https://res.cloudinary.com/dgo5srcxs/image/upload/v1532359787/Land/JARDIN%20HOSPICE%20MARGUERITE%20Seclin/hospicemarguerite4.jpg" alt="First slide">
                                </div>
                                <div class="carousel-item" style="heigth:150px">
                                    <img class="d-block w-100" src="https://res.cloudinary.com/dgo5srcxs/image/upload/v1532359787/Land/JARDIN%20HOSPICE%20MARGUERITE%20Seclin/hospicemarguerite5.jpg" alt="First slide">
                                </div>
                              </div>
                           </div>
                           <p> Les jardins de l'hospice sont un collage d'époques. Le moyen-âge est rappelé par les vergers, le potager, les douves, l'évocation du jardin des simples et l'ancien cimetière. A cette époque l'hospice était surtout une grande ferme où l'on trouvait un lit et à manger. Vient ensuite l'époque Napoléon III où la nouvelle façade néo flamande répond un jardin régulier d'apparat en point de fuite de la grande drève. Le jardin est classé MH et nous orchestrons un travail de rénovation où le choix des essences respecte l'esprit de la palette végétale d'origine. Là où se construisent aujourd'hui les nouveaux bâtiments se glisse une promenade sauvage et contemporaine. Ces trois périodes marquent le lieu par leurs usages quotidiens et le paysage révèle cette histoire.</p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-md-6">
               <h4>Jardin de la salle des fêtes </h4>
               <p style="text-align:center"> Marquette-lez-Lille</p>
               <div class="hovereffect">
                  <a href="#fete">
                  <img class="displayed" src="https://res.cloudinary.com/dgo5srcxs/image/upload/v1532359693/Land/JARDIN%20DE%20LA%20SALLE%20DES%20FETES%20Marquette/sdf.png" style="height:200px"> </a>
                  <p style="text-align: center">
                     <br>" Un évènement design et un lieu à partager " 
                  </p>
                  <div class="overlay">
                     <a href="#fete" class="info" data-toggle="modal" data-target="#feteModal">En voir plus</a>
                  </div>
               </div>
               <!-- Jardin de la salle des fêtes modal -->
               <div class="modal fade" id="feteModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
                  <div class="modal-dialog modal-lg">
                     <div class="modal-content">
                        <div class="modal-header">
                           <h4 class="modal-title" id="myModalLabel"> Jardin de la salle des fêtes d'Orléans</h4>
                           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                           <span aria-hidden="true">&times;</span>
                           </button>
                        </div>
                        <div class="modal-body">
                           <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                              <div class="carousel-inner container" style="height: 300px">
                                 <div class="carousel-item active container" style="heigth:300px">
                                    <img class="d-block w-100" src="https://res.cloudinary.com/dgo5srcxs/image/upload/v1532359693/Land/JARDIN%20DE%20LA%20SALLE%20DES%20FETES%20Marquette/sdf.png" alt="First slide">
                                 </div>
                              </div>
                           </div>
                           <p> En bord de Deûle, nous voulons créer un espace convivial et urbain qui rassemble les Marquettois. Le parvis minéral s'ouvre sur la rue. Derrière, un jardin écologique prolonge les salles communes. Des herbes hautes jaillissent de sous les arbres fruitiers. L'on peut s'asseoir, se rassembler. Les végétaux sont choisis pour recréer un écosystème riche. Ce projet contribue à redonner un centre à la ville de Marquette.</p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <br>
      <div class="row featurette">
         <div class="col-md-6">
            <h4>Les jardins de l'atrium </h4>
            <p style="text-align:center"> Issy Les Moulineaux</p>
            <div class="hovereffect">
               <a href="#ronchin">
               <img class="displayed" src="https://res.cloudinary.com/dgo5srcxs/image/upload/v1532359456/Land/JARDIN%20DE%20L%20ATRIUM%20Issy%20Les%20Moulineaux/atrium_issy.jpg" height="200px;"> </a>
                <p style="text-align: center">
                    <br>" Le potentiel d’une serre de jardin botanique où des écosystèmes identitaires de pays exotiques peuvent être représentés." 
                </p>
               <div class="overlay">
                  <a href="#ronchin" class="info" data-toggle="modal" data-target="#ronchinModal">En voir plus</a>
               </div>

            </div>
            <!-- Atrium Ronchin -->
            <div class="modal fade" id="ronchinModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
               <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                     <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel"> Jardin de l'atrium à Issy Les Moulineaux </h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                     </div>
                     <div class="modal-body">
                        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                           <div class="carousel-inner container" style="height: 300px">
                              <div class="carousel-item active container" style="heigth:150px">
                                 <img class="d-block w-100" src="https://res.cloudinary.com/dgo5srcxs/image/upload/v1532359456/Land/JARDIN%20DE%20L%20ATRIUM%20Issy%20Les%20Moulineaux/atrium_issy.jpg" alt="First slide">
                              </div>
                              <div class="carousel-item" style="heigth:300px">
                                 <img class="d-block w-100" src="https://res.cloudinary.com/dgo5srcxs/image/upload/v1532359456/Land/JARDIN%20DE%20L%20ATRIUM%20Issy%20Les%20Moulineaux/atrium_issy2.jpg" alt="First slide">
                              </div>
                           </div>
                        </div>
                        <p> L’atrium offre le potentiel d’une serre de jardin botanique, où des écosystèmes identitaires de pays exotiques peuvent être représentés. 
                           C’est cet imaginaire relatif au voyage des hommes qui nous inspire et que nous voulons révéler aux usagers. 
                           Nous aimons le fort caractère des jardins de cactus. Sec et leger, ils s'adaptent a une structure de bâtiment existante. 
                           Nous sommes convaincus que ces contrastes de lumières de couleurs et la diversité de la palette végétale participent à cette ambiance de sérénité qui s’en dégage.
                        </p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-md-6">
            <h4>Carte des paysages</h4>
            <p style="text-align:center"> Canton de Samer</p>
            <div class="hovereffect">
               <img class="displayed" src="https://res.cloudinary.com/dgo5srcxs/image/upload/v1532358532/Land/CARTE%20DES%20PAYSAGES/carte_samer_premesque.jpg" height="200px;"> </a>
               <div class="overlay">
                  <a href="#cartepaysage" class="info" data-toggle="modal" data-target="#cartepaysageModal"> En voir plus</a>
               </div>
                            <p style="text-align: center">
                     <br>" Des paysages" 
                  </p>
            </div>
            <!-- Carte des paysages modal -->
            <div class="modal fade" id="cartepaysageModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
               <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                     <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel"> Carte des paysages</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                     </div>
                     <div class="modal-body">
                        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                           <div class="carousel-inner container" style="height: 300px">
                              <div class="carousel-item active container" style="heigth:150px">
                                 <img class="d-block w-100" src="https://res.cloudinary.com/dgo5srcxs/image/upload/v1532358532/Land/CARTE%20DES%20PAYSAGES/carte_samer_premesque.jpg" alt="First slide">
                              </div>
                              <div class="carousel-item" style="heigth:300px">
                                 <img class="d-block w-100" src="https://res.cloudinary.com/dgo5srcxs/image/upload/v1532358531/Land/CARTE%20DES%20PAYSAGES/carte_samer.png" alt="First slide">
                              </div>
                           </div>
                        </div>
                        <p> ...</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <br>
      <div class="row featurette">
         <div class="col-md-6">
         <div id="musee">
            <h4> Musée de la résistance Bretonne </h4>
        </div>
            <p style="text-align:center"> Saint Marcel </p>
            <div class="hovereffect">
               <img class="displayed" src="http://res.cloudinary.com/dgo5srcxs/image/upload/c_scale,h_200/v1532360009/Land/MUSEE%20DE%20LA%20RESISTANCE%20BRETONNE%20Saint%20Marcel/saint_marcel1.jpg"> </a>
               <div class="overlay">
                  <a href="#musée" class="info" data-toggle="modal" data-target="#museeModal">En voir plus</a>
               </div>
               <p style="text-align: center">
                  <br>" Un musée entre forêt et bocage "
               </p>
               <div class="modal fade" id="museeModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
                  <div class="modal-dialog modal-lg">
                     <div class="modal-content">
                        <div class="modal-header">
                           <h4 class="modal-title" id="myModalLabel"> Musée de la résistance Bretonne</h4>
                           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                           <span aria-hidden="true">&times;</span>
                           </button>
                        </div>
                        <div class="modal-body">
                           <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                              <div class="carousel-inner container" >
                                 <div class="carousel-item active container">
                                    <img class="d-block w-100" src="http://res.cloudinary.com/dgo5srcxs/image/upload/c_scale,h_287/v1532360009/Land/MUSEE%20DE%20LA%20RESISTANCE%20BRETONNE%20Saint%20Marcel/saint_marcel1.jpg" alt="First slide">
                                 </div>
                                <div class="carousel-item">
                                 <img class="d-block w-100" src="https://res.cloudinary.com/dgo5srcxs/image/upload/v1532360011/Land/MUSEE%20DE%20LA%20RESISTANCE%20BRETONNE%20Saint%20Marcel/saint_marcel_carousel.jpg" alt="First slide">
                              </div>
                              <div class="carousel-item">
                                 <img class="d-block w-100" src="https://res.cloudinary.com/dgo5srcxs/image/upload/v1532360009/Land/MUSEE%20DE%20LA%20RESISTANCE%20BRETONNE%20Saint%20Marcel/saint_marcel2.jpg" alt="First slide">
                              </div>
                              </div>
                           </div>
                           <p> Le conseil communautaire de l’Oust à Brocéliande Communauté a désigné l’équipe lauréate de maîtrise d’œuvre pour la rénovation du musée de la Résistance bretonne situé à Saint Marcel. Parmi trente-sept candidatures le jury a désigné le projet de l’équipe composée de : Cadmée, architecte mandataire, AST, architecte scénographe, Gruet ingénierie, bureau d’études techniques, Peutz et associés, acousticien, Land Territoires et Paysage, paysagiste. Notre projet permet au Musée de s’intégrer complétement au sein du territoire. La forêt qui l’entoure sera renforcée autour de l’accès au Musée qui apparaîtra ainsi comme posé au milieu d’une clairière. A l’opposé, c’est un paysage très ordonné, composé de bocages et de vergers, qui sera offert au personnel. A disposition de tous, des aires de pique-nique, des promenades sous les auvents et de nouvelles plantations d’arbres. L’inauguration est programmée pour le premier semestre 2010. L’Étude est en cours.</p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-md-6">
            <h4>Ilôt Malpart</h4>
            <p style="text-align:center"> Lille</p>
            <div class="hovereffect">
               <a href="#malpart">
               <img class="displayed" src="https://res.cloudinary.com/dgo5srcxs/image/upload/v1532359404/Land/ILOT%20MALPART%20Lille/malpart.png" height="200px;"> </a>
               <div class="overlay">
                  <a href="#malpart" class="info" data-toggle="modal" data-target="#malpartModal">En voir plus</a>
               </div>
               <p style="text-align: center">
                  <br>" Une succession d’imaginaires en cœur d’îlot "
               </p>
            </div>
            <!-- Malpart modal -->
            <div class="modal fade" id="malpartModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
               <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                     <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel"> Ilôt Malpart</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                     </div>
                     <div class="modal-body">
                        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                           <div class="carousel-inner container" style="height: 300px">
                              <div class="carousel-item active container" style="heigth:150px">
                                 <img class="d-block w-100" src="https://res.cloudinary.com/dgo5srcxs/image/upload/v1532359429/Land/ILOT%20MALPART%20Lille/malpart2.jpg" alt="First slide">
                              </div>
                             <div class="carousel-item" style="heigth:300px">
                                 <img class="d-block w-100" src="https://res.cloudinary.com/dgo5srcxs/image/upload/v1532359404/Land/ILOT%20MALPART%20Lille/malpart.png" alt="First slide">
                              </div>
                           </div>
                        </div>
                        <p>L'ensemble du jardin forme un univers poétique et chaleureux. Une première séquence accueille un terrain de pétanque et une placette conviviale. Ensuite le chemin mène à l'aire de jeux encadrée par une forêt onirique d'arbres remarquables. Puis se trouve une zone humide, en creux composée de végétation de bassin ou marais ; un salon sur pelouse offre un espace pour s'installer et profiter de cette ambiance reposante. Et enfin la dernière séquence offre une prairie fleurie qui accueille des ruches.</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <br>
      </div>
   </div>
   <br>
   <div class="row featurette">
      <div class="col-md-6">
      <div id="brasserie"> 
         <h4>Brasserie Motte Cordonnier</h4>
      </div>
         <p style="text-align:center"> Armentières</p>
        <div class="hovereffect">
          
            <img class="displayed" src="https://res.cloudinary.com/dgo5srcxs/image/upload/v1532357578/Land/BRASSERIE%20MOTTE%20CORDONNIER%20Armentieres/brasserie_motte1.jpg" width="340px" height="150px"> </a>
            <div class="overlay">
               <a href="#brasserie" class="info" data-toggle="modal" data-target="#brasserieModal">En voir plus</a>
            </div>
            <p style="text-align: center">
               <br>" Un jardin comme cœur de quartier en bord de Lys "
            </p>
        </div>
         <!-- Brasserie Motte Cordonnier modal -->
        <div class="modal fade" id="brasserieModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
            <div class="modal-dialog modal-lg">
               <div class="modal-content">
                  <div class="modal-header">
                     <h4 class="modal-title" id="myModalLabel"> Brasserie Motte Cordonnier</h4>
                     <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                     </button>
                  </div>
                  <div class="modal-body">
                     <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner container" style="height: 300px">
                           <div class="carousel-item active container" style="heigth:300px">
                              <img class="d-block w-100" src="https://res.cloudinary.com/dgo5srcxs/image/upload/v1532357578/Land/BRASSERIE%20MOTTE%20CORDONNIER%20Armentieres/brasserie_motte1.jpg" alt="First slide">
                           </div>
                           <div class="carousel-item" style="heigth:150px">
                                <img class="d-block w-100" src="https://res.cloudinary.com/dgo5srcxs/image/upload/v1532357528/Land/BRASSERIE%20MOTTE%20CORDONNIER%20Armentieres/brasserie_motte2.jpg" alt="First slide">
                           </div>
                           <div class="carousel-item" style="heigth:150px">
                                <img class="d-block w-100" src="https://res.cloudinary.com/dgo5srcxs/image/upload/v1532355725/Land/BRASSERIE%20MOTTE%20CORDONNIER%20Armentieres/brasserie_motte3.jpg" alt="First slide">
                           </div>
                           </div>
                        </div>
                     </div>
                     <p style="font-weight:bolder;color:#d88415">Des détails architecturaux du paysage</p>
                     <p style="text-align: justify"> 1923, l’usine est inaugurée à partir des plans de l’architecte Marcel Forest. Emblême de la société, l’architecture de la brasserie est inspiré de celle des Beffrois du Nord. Son activité est de fabriquer de la bière en fermentation basse. L’orge arrive par la Lys et est transformer en bière. L’Art s’invite dans les détails architecturaux.
                        <br> 1993, l’usine cesse de brasser. Depuis, elle sert de centre de conditionnement et de distribution.
                        <br> 2018, Histoire et Patrimoine portent le projet de reconquête du site. En plus des bâtis historique à conserve, se pose la question de l’aménagement des espaces extérieurs :
                     </p>
                     <p style="font-weight:bolder;color:#d88415">Intention:</p>
                     <p style="text-align: justify"> S’inspirer du lieu et des codes architecturaux pour créer de la convivialité et de la poésie aux pieds des bâtiments historiques à l’architecture emblématique.
                     <ul>
                        <li>[S’inspirer du lieu] Le paysage, reflet de l’architecture ? - Garder et renforcer les traces du passé. </li>
                        <li>[Créer des usages] Créer le coeur et valoriser les cheminements par des perspectives paysagères. </li>
                        <li>[S’ouvrir progressivement sur la Lys] De l’urbain au corridor écologique, s’inscrire dans une trameverte et bleue pour mettre en scène la Lys. </li>
                     </ul>
                     </p>
                  </div>
               </div>
            </div>
        </div>
      <div class="col-md-6">
         <h4>Jardin de la résidence Montalembert</h4>
         <p style="text-align:center"> Villeneuve d'Ascq</p>
         <div class="hovereffect">
            <a href="#montalembert">
            <img class="displayed" src="https://res.cloudinary.com/dgo5srcxs/image/upload/v1532359553/Land/JARDIN%20DE%20LA%20RESIDENCE%20MONTALEMBERT%20Vda/montalembert.png" alt="Jardin de la résidence Montalembert" width="340px" height="150px"></a>
            <div class="overlay">
               <a href="#montalembert" class="info" data-toggle="modal" data-target="#montalembertModal">En voir plus</a>
            </div>
            <p style="text-align: center">
               <br>" Le prolongement du golf"
            </p>
         </div>
         <!-- Residence Montalembert modal -->
         <div class="modal fade" id="montalembertModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
            <div class="modal-dialog modal-lg">
               <div class="modal-content">
                  <div class="modal-header">
                     <h4 class="modal-title" id="myModalLabel"> Jardin de la résidence Montalembert</h4>
                     <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                     </button>
                  </div>
                  <div class="modal-body">
                     <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner container" style="height: 300px">
                           <div class="carousel-item active container" style="heigth:300px">
                              <img class="d-block w-100" src="https://res.cloudinary.com/dgo5srcxs/image/upload/v1532359553/Land/JARDIN%20DE%20LA%20RESIDENCE%20MONTALEMBERT%20Vda/montalembert.png" alt="Jardin de la résidence Montalembert">
                           </div>
                           <div class="carousel-item">
                              <img class="d-block w-100" src="https://res.cloudinary.com/dgo5srcxs/image/upload/v1532359496/Land/JARDIN%20DE%20LA%20RESIDENCE%20MONTALEMBERT%20Vda/montalembert1.jpg" alt="Jardin de la résidence Montalembert">
                           </div>
                        </div>
                     </div>
                     <p>L'aménagement paysager de ce projet est le prolongement du golf voisin : un ensemble de buttes et de dunes. La découverte du parc se fait progressivement en préservant l'intimité des logements. La végétation permet de définir les espaces, le maille de prunus lie le parking et le jardin, les pins forment des bouquets et marquent les entrées. L'ensemble du jardin est composé de prunus à la floraison rose époustouflante, de pins vert sombre, persistants, et d'Acers au feuillage remarquable. </p>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
</div>
<br>
<br>
<br>
